@model IEnumerable<InternshipTaskManagementSystem.Models.User>

@{
    ViewData["Title"] = "Manage Users";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<div class="container mt-4">

    
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="fw-bold"> 
            <i class="fa-solid fa-users"></i> User Management
        </h3>

       
    </div>

    <div class="d-flex justify-content-end gap-1 mb-1">

        <input type="text" id="searchInput" class="form-select-sm mb-1 gap-4"
               placeholder="🔍 Search by name, email or role..." />
        <a asp-action="CreateUser" class="btn btn-success">
            Add
        </a>

        <button id="editBtn" class="btn btn-warning" disabled>
            Edit
        </button>

        <button id="deleteBtn" class="btn btn-danger" disabled>
            Delete
        </button>
    </div>

    <div class="card shadow-sm">
        <div class="card-body p-1">
           
            <div class="table-responsive">
                <table class="table table-hover align-middle table-bordered"  id="usersTable">

                    

                   

                    <thead class="table-dark">
                        <tr>
                  
                            <th>
                                <input type="checkbox" id="selectAll" />
                            </th>
                            <th class="id">Id</th>
                            <th class="name">Name</th>
                            <th class="email">Email</th>
                            <th class="role">Role</th>
                            <th class="createdat">Created</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                
                                <td>
                                    <input type="checkbox"
                                           class="user-checkbox"
                                           data-id="@user.UserId"
                                           data-role="@user.Role" />
                                </td>

                                <td>@user.UserId</td>
                                <td>@user.FullName</td>
                                <td>@user.Email</td>

                                <td>
                                    @if (user.Role == "Admin")
                                    {
                                        <span class="badge bg-danger">Admin</span>
                                    }
                                    else if (user.Role == "Mentor")
                                    {
                                        <span class="badge bg-primary">Mentor</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-success">Student</span>
                                    }
                                </td>

                                <td>@user.CreatedAt.ToString("dd MMM yyyy")</td>
                            </tr>
                        }
                    </tbody>

                </table>
                <div class="d-flex justify-content-between align-items-center mt-3">

                    <div>
                        Showing @Model.Count() users
                    </div>

                    <nav class="pagination ">
                        <ul class="pagination mb-0 mt-1 ">

                            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                                <a class="page-link"
                                   href="?page=@(ViewBag.CurrentPage - 1)">
                                    ‹
                                </a>
                            </li>

                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                    <a class="page-link" href="?page=@i">@i</a>
                                </li>
                            }

                            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                                <a class="page-link"
                                   href="?page=@(ViewBag.CurrentPage + 1)">
                                    ›
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    

</div>
<script src="~/js/user.js"></script>